.App {
  text-align: center;
}

.bodyContainer {
    margin: 5px;
}

/* .searchBar{
  background-color: #F9DF7F;
} */

.videoDetail{
  background-color: #EF7777;
}

.videoList{
  background-color: #E5FFCA;
}

.videoItem{
  background-color: #89DECE;
}

